ETSY_API_KEY=
SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3306/printmomentum
SPRING_DATASOURCE_USERNAME=printmomentum
SPRING_DATASOURCE_PASSWORD=
AWS_REGION=eu-central-1
AWS_S3_BUCKET=printmomentum-assets
