ETSY_API_KEY=
SPRING_DATASOURCE_URL=jdbc:mariadb://localhost:3307/printmomentum
SPRING_DATASOURCE_USERNAME=printmomentum
SPRING_DATASOURCE_PASSWORD=printmomentum
AWS_REGION=eu-central-1
AWS_S3_BUCKET=printmomentum-assets
